/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f26c4f;
  color: white;
  min-height: 100vh;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}


main {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.line {
  width: 50px;
  height: 2px;
  background-color: white;
  margin: 0 auto 20px;
}

.subtitle {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 150px;
}

.content {
  font-size: 14px;
  opacity: 0.8;
}
